.trip-display--card-grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.trip-display--card {
  color: $green;
  background: $dark-gray;
  height: 23rem;
  width: 18rem;
  margin: 0rem 1rem 1rem 0rem;
  @include rounded-corners(0.3rem)
  box-shadow: 10px 10px 50px $light-gray inset;
  display: block;
  padding: 1rem;

  .card--title{

  }

  img {
    height: 10rem;
    width: 100%;
    @include rounded-corners(0.3rem)
  }

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}